:root {
  --bg-color: rgb(50 50 50);
  --text-color: rgb(250 250 250);
  --active-color: rgb(40 201 35);
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}



.level {
  position: relative;
  height: 100vh;

  &__background,
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__background {
    background-size: cover;
    background-position: center;

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 30%;
    }

    &::after {
      bottom: 0;
      background: linear-gradient(180deg, transparent, var(--bg-color));
    }

    &::before {
      top: 0;
      background: linear-gradient(0deg, transparent, var(--bg-color));
    }

    &--1 {
      background-image: url('images/l1.jpg');
    }

    &--2 {
      background-image: url('images/l2.jpg');
    }

    &--3 {
      background-image: url('images/l3.jpg');
    }

    &--4 {
      background-image: url('images/l4.jpg');
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      background-size: cover;
      background-position: center;
      background-image: url('images/Rectangle.svg');
    }
  }
}

.properties {
  position: fixed;
  top: 1rem;
  left: 1rem;
}
