.level {
  position: relative;
  height: 100vh;

  &__background,
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__background {
    background-size: cover;
    background-position: center;

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 30%;
    }

    &::after {
      bottom: 0;
      background: linear-gradient(180deg, transparent, var(--bg-color));
    }

    &::before {
      top: 0;
      background: linear-gradient(0deg, transparent, var(--bg-color));
    }

    &--1 {
      background-image: url('../images/l1.jpg');
    }

    &--2 {
      background-image: url('../images/l2.jpg');
    }

    &--3 {
      background-image: url('../images/l3.jpg');
    }

    &--4 {
      background-image: url('../images/l4.jpg');
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      background-size: cover;
      background-position: center;
      background-image: url('../images/Rectangle.svg');
    }
  }
}

